
body {
    background: rgba(215, 209, 195, 1);
    background: -moz-linear-gradient(top, rgba(215, 209, 195, 1) 0%, rgba(206, 204, 162, 1) 50%, rgba(209, 180, 78, 1) 51%, rgba(169, 103, 15, 1) 72%, rgba(162, 78, 11, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215, 209, 195, 1)), color-stop(50%, rgba(206, 204, 162, 1)), color-stop(51%, rgba(209, 180, 78, 1)), color-stop(72%, rgba(169, 103, 15, 1)), color-stop(100%, rgba(162, 78, 11, 1)));
    background: -webkit-linear-gradient(top, rgba(215, 209, 195, 1) 0%, rgba(206, 204, 162, 1) 50%, rgba(209, 180, 78, 1) 51%, rgba(169, 103, 15, 1) 72%, rgba(162, 78, 11, 1) 100%);
    background: -o-linear-gradient(top, rgba(215, 209, 195, 1) 0%, rgba(206, 204, 162, 1) 50%, rgba(209, 180, 78, 1) 51%, rgba(169, 103, 15, 1) 72%, rgba(162, 78, 11, 1) 100%);
    background: -ms-linear-gradient(top, rgba(215, 209, 195, 1) 0%, rgba(206, 204, 162, 1) 50%, rgba(209, 180, 78, 1) 51%, rgba(169, 103, 15, 1) 72%, rgba(162, 78, 11, 1) 100%);
    background: linear-gradient(to bottom, rgba(215, 209, 195, 1) 0%, rgba(206, 204, 162, 1) 50%, rgba(209, 180, 78, 1) 51%, rgba(169, 103, 15, 1) 72%, rgba(162, 78, 11, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d1c3', endColorstr='#a24e0b', GradientType=0);
    background-attachment: fixed;
}

#input-project-name:disabled {
    color: #fff;
}

.input-name {
    background: unset;
    border: unset;
    width: 100%;
}



.projects .footer{
    text-align: center;
    margin-top: 50px;
}


#btn-project-create{
    background: linear-gradient(#5281bc, #345f9d);
    color: #fff;
    border: 0;
    padding: 0.75em 1.5em;
    border-radius: 3px;
}

#btn-project-create>i{
    margin-right: .5em;
    color: #234675;
    font-size: 1.25em;
}

.project {
    margin: 1em;
    box-shadow: 0px 7px 20px 0px #00000047;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.project header {
    background: linear-gradient(#628fc3, #375ea1);
    padding: 0.5em 1em;
    color: white;
    display: flex;
    align-items: center;
}


.project>header .input-name:disabled {
    color: #fff
}

.project>header .edit>i{
    padding: 0 0.5em
}

.project>header .edit>i+i{
    border-left: 1px solid #4f7ebb;
}

.project header .caption {
    font-size: 1.5em;
    color: #fff;
}

.project header .icon {
    font-size: 1.5em;
    color: #44536b;
}

.taskbar {
    background-color: #cecece;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.taskbar .icon {
    font-size: 1.8em;
    color: #599072;
}

.task-item {
    background-color: #fff;
}

.item-content {
    display: flex;

}

.item-content > .edit {
    color: #999899;

}

.item-content > .edit > i {
    padding: 0 .75em;
    opacity: 0;
}

.item-content:hover > .edit > i {
    opacity: 1;
}

.item-content > .edit > i+i{
    border-left: 1px solid #ecefef;
}

.item-content:HOVER {
    background-color: #fcfed5;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
}

.task-item + .task-item {
    /*padding-top: 0;*/
    border-top: 1px solid #ecefef;
}

.item-content > div {
    padding: 1em;
}

.item-content > div + div {
    border-left: 1px solid #ecefef;
}

.item-content > div:first-child {
    position: relative;
    border-right: 1px solid #efd9de;
}

.item-content > div:first-child::after {
    content: "";
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    border-right: 2px solid #f8f1f3;
}

.task-item:last-child {
    border-radius: 0px 0px 10px 10px;
}

.input-group-append{
    cursor: pointer;
}